.hello {
  background-color: #3367d6;
  display: flex;
  align-items: center;
  padding: 10px;
}
.InputContainer {
  display: flex;
  align-items: center;
  margin: auto;
}
.history {
  margin-left: 20px;
}
.inputType {
  width: 300px;
  height: 30px;
}

.imageSearch {
  border: 1px solid #bfb3b2;
  height: 30px;
}

.image-card {
  box-shadow: 0px 4px 16px 0px #eaebed;
  width: 90%;
  margin: auto;
}

.parag {
  text-align: center;
  padding: 20px;
}
